{% extends "equipmentdb/base.html" %}
{% block content %}
<h2>Welcome to the UBUC Equipment DB</h2>
<p>This is the home page</p>
<h3>Equipment:</h3>
<p>
<ul>
    <li><a href="equipment">Equipment list</a></li>
    <li><a href="equipment-type">Equipment types</a></li>
</ul>
</p>
<h3>Servicing:</h3>
<p>
<ul>
    <li><a href="equipment-type-service-schedule">Service schedules</a></li>
</ul>
</p>
<h3>Testing:</h3>
<p>
<ul>
    <li><a href="test-type">Test types</a></li>
    <li><a href="equipment-type-test-schedule">Test schedules</a></li>
</ul>
</p>
{% endblock content %}